$fontCardColour: white;
$fontRequiredColour: red;
$fontHoverColour: lightseagreen;

$fontContentColour: rgb(30, 34, 38);
$fontHeadingColour: rgb(36, 38, 44);

$darkColour: rgb(40, 42, 48);
$accentColour: aquamarine;