@import 'partials/variables';

.App {
  $gapSize: 0.8rem;
  text-align: center;
  
  h1, h2, h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  nav {
    $padding: ("vertical": 0.8rem, "horizontal": 1.5rem);

    text-transform: uppercase;
    background-color: $darkColour;
    display: flex;
    position: sticky;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: map-get($padding, "vertical") map-get($padding, "horizontal");
    // padding-right: map-get($padding, "horizontal") * 2;
    // width: calc(100% - map-get($padding, "horizontal") * 2);
    top: 0;
    z-index: 10;

    .App-nav-links {
      margin: 0;
      display: flex;
      gap: $gapSize;
      align-items: center;
      list-style: none;
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $accentColour;
    padding: 2rem;
    height: 100vh;
  }

  #about {
    background-color: aliceblue;
  }

  #about, #proficiencies {
    padding: 2rem 0;
  }
}

.App-nav-icon {
  margin: 0;
  padding: 0;

  img {
    width: 24px;
  }
}