@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.App {
  text-align: center;

  /* miscellaneous colours */
  --banner-colour-values: 40, 42, 48;
  --banner-colour: rgb(var(--banner-colour-values));
  --foreground-colour: rgb(181, 128, 255);

  /* font colours */
  --font-content-colour: rgb(30, 34, 38);
  --font-heading-colour: rgb(36, 38, 44);
}

.App-big-font {
  font-family:'Raleway';
}

.App-big-text {
  font-size: 8rem;
  font-weight: 900;
  line-height: 7.5rem;
}

.App-content :where(h1, h2, h3) {
  text-transform: uppercase;
  color: var(--font-heading-colour);
  font-family: 'Raleway';
}

.App-content {
  padding: 0 5vw;
  text-align: left;
  color: var(--font-content-colour);
  font-family: 'Roboto Condensed';
  font-size: 1.1rem;
}

.App-content p b {
  font-family: 'Raleway';
}