@import 'partials/variables';

.App {
  text-align: center;
  
  --App-section-boundary-size: 3rem;

  --text-hover-transition: color 300ms ease-in-out;
  --transfom-hover-transition: transform 200ms ease-in-out;

  h1, h2, h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  nav {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.8rem 1.5rem;
    background-color: $darkColour;
    z-index: 10;
    color: white;

    a {
      color: #eee;
      text-decoration: none;
      transition: var(--text-hover-transition);

      &:hover {
        color: $fontHoverColour;
        cursor: pointer;
      }

      &.active {
        font-weight: bold;
      }
    }

    span {
      flex: 1;
      text-align: left;
    }
  }
}

.App-content-area {
  #about {
    background-color: aliceblue;
  }

  #about, #proficiencies {
    padding: 2rem 0;
  }
}

.App-big-font {
  font-family: 'Raleway', sans-serif;
}

.App-big-text {
  font-size: 6rem;
  font-weight: 900;
}

.App-button {
  display: block;
  padding: 1.2rem 1.5rem;
  color: white;
  background-color: $darkColour;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 0.4rem;
  width: fit-content;
  margin: 2rem auto;
  transition: all 200ms ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    color: $fontHoverColour;
  }
}

.App-contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $accentColour;
  padding: 2rem;
  height: 100vh;
}

.App-medium-text {
  font-size: 1.7rem;
  font-weight: 500;
}

.App-text-content {
  padding: 0 20vw;
  text-align: left;
}

.App-nav {
  &-icons {
    display: flex;
    border-left: 1px solid white;
    padding-left: 1rem;
    gap: 1rem;
  }

  &-links {
    display: flex;
    flex: 1;
  }

  &-link :where(img, p) {
    width: 24px;
    padding: 0;
    margin: 0;
  }
}