@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.App {
  text-align: center;

  --font-content-colour: rgb(30, 34, 38);
  --font-heading-colour: rgb(36, 38, 44);

  --foreground-colour: rgb(181, 128, 255);
  --dark-colour-values: 40, 42, 48;

  --App-section-boundary-size: 3rem;

  display: none;
}

.App :where(h1, h2, h3) {
  text-align: center;
  color: var(--font-heading-colour);
  font-family: 'Raleway', sans-serif;
}

.App-content-area #about {
  background-color: lightblue;
}

.App-content-area :where(#about, #proficiencies) {
  padding: 2rem 0;
}

.App-big-font {
  font-family:'Raleway', sans-serif;
}

.App-big-text {
  font-size: 6rem;
  font-weight: 900;
}

.App-contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 187, 210);
  padding: 2rem;
  height: 100vh;
}

.App-medium-text {
  font-size: 1.7rem;
  font-weight: 500;
}

.App-text-content {
  padding: 0 20vw;
  text-align: left;
}

.App nav {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.8rem;
  background-color: rgb(var(--dark-colour-values));
  z-index: 10;
}

.App nav a {
  color: #eee;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}

.App nav a:hover {
  color: lightseagreen;
}

.App nav a.active {
  font-weight: bold;
}