.About-content {
  margin-bottom: var(--App-section-boundary-size);
}

.About-icon-link {
  background-color: rgba(var(--dark-colour-values));
  padding: 0.8rem;
  border-radius: 0.65rem;
  transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.About-icon-link:hover {
  transform: scale(1.05);
}

.About-icon-link p {
  color: white;
  margin: 0;
  font-size: small;
}

.About-icon-link,
.About-icon-link p {
  text-decoration: none;
}

.About-icon-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.About-icon-link img {
  width: 4.5rem;
}

.About-values {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
}