@import '../partials/variables';

.About-main {
  display: flex;
  gap: 2rem;
  justify-content: center;

  .text-content {
    flex: 1;
    min-width: max(40vw, 400px);
  }
}

.About-content {
  margin-bottom: var(--App-section-boundary-size);
}

.About-icon-link {
  p {
    text-decoration: none;
    transition: transform 200ms ease-in-out;
    color: $fontContentColour;
    font-family: sans-serif;
    margin: 0;
    font-size: small;
  }

  img {
    width: 4.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.About-icon-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.About-side {
  min-width: min-content;
  flex: 1;

  img {
    background-color: $accentColour;
    border-radius: 0.8rem;
  }

  p {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
    font-size: medium;
  }
}