.About-content {
  margin-bottom: var(--App-section-boundary-size);
}

.About-icon-link {
  display: inline-block;
  background-color: rgba(var(--dark-colour-values));
  padding: 1rem;
  border-radius: 0.65rem;
  margin: 0 5px;
}

.About-icon-link p {
  color: white;
  margin: 0;
  font-size: small;
}

.About-icon-link,
.About-icon-link p {
  text-decoration: none;
}

.About-icon-links {
  text-align: center;
}

.About-icon-link img {
  width: 4.5rem;
}