.About-main {
  display: flex;
  gap: 2rem
}

.About-side {
  width: min-content;
}

.About-content {
  margin-bottom: var(--App-section-boundary-size);
}

.About-icon-link p {
  color: var(--font-content-colour);
  font-family: sans-serif;
  margin: 0;
  font-size: small;
}

.About-icon-link,
.About-icon-link p {
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.About-icon-link:hover {
  transform: scale(1.1);
}

.About-icon-link:active {
  transform: scale(1);
}

.About-icon-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.About-icon-link img {
  width: 4.5rem;
}

.About-values {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
  font-size: medium;
}