.Contact-content {
  text-align: center;
}

.Contact-content input {
  margin: auto;
}

.Contact-form :where(input[type='text'], textarea) {
  padding: 8px 10px;
  border-radius: 0.2rem;
  border: 2px black solid;
}

.Contact-required-field {
  color: red;
  font-size: 0.85rem;
}

.Contact-form-field {
  margin-bottom: 5px;
}

.Contact-form-field label,
.Contact-form-field input {
  display: block;
}

.Contact-form-field textarea {
  resize: unset;
}