h2 {
  margin-top: 0;
}

.Contact-form {
  width: min(450px, 50vw);
  margin: auto;
}

.Contact-form .App-button {
  width: 10vw;
}

.Contact-form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.Contact-form-field :where(label, input) {
  display: block;
}

.Contact-form-field textarea {
  resize: unset;
  height: 100px;
}


.Contact-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.Contact-link img {
  width: 2.5rem;
}

.Contact-link {
  transition: transform 150ms ease-in-out;
}

.Contact-link:hover {
  transform: scale(1.1);
}

.Contact-required-field {
  color: red;
  font-size: 0.85rem;
}

.Contact-text-input {
  padding: 8px 10px;
  border-radius: 0.2rem;
  margin: auto;
  outline: none;
  border: 2px var(--dark-colour) solid;
  width: calc(100% - 20px - 0.4rem);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.Contact-text-input:autofill {
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}