@import '../partials/variables';
@import '../partials/mixins';

h2 {
  margin-top: 0;
}

.Contact-link {
  transition: transform 150ms ease-in-out;

  img {
    width: 2.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.Contact {
  .links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
  }
}