.Contact-content {
  text-align: center;
}

.Contact-content input {
  margin: auto;
}

.Contact-form {
  background-color: rgb(var(--dark-colour-values));
  width: fit-content;
  padding: 2rem;
  margin: auto;
  border-radius: 0.8rem;
}

.Contact-form label {
  color: #aaa;
}

.Contact-form :where(input[type='text'], textarea) {
  background-color: #444;
  border: none;
  padding: 0.25rem 0.3rem;
  border-radius: 0.2rem;
}

.Contact-form-field {
  margin-bottom: 5px;
}

.Contact-form-field label,
.Contact-form-field input {
  display: block;
}

.Contact-form-field textarea {
  resize: unset;
}