@import '../partials/variables';
@import '../partials/mixins';

.Header {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/background.jpg);
  background-position: 0;
  background-size: cover;
  height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;

  .banner {
    text-align: center;
    top: calc(50% - (1.2rem * 2 + 1.7rem + 0.5rem + 1.1rem)/2);
    position: sticky;
    
    h1 {
      @include big-font;

      letter-spacing: 0.15rem;
      background-image: -webkit-linear-gradient(left,
      rgba($darkColour, 0.15) 0%,
      rgba($darkColour, 0.35) 20%,
      rgba($darkColour, 1.00) 50%,
      rgba($darkColour, 0.35) 80%,
      rgba($darkColour, 0.15) 100%);
      
      margin: 0;
      padding: 1.2rem;
      text-transform: uppercase;
      font-size: 1.7rem;
      color: white;
    }
    
    p {
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
  }

  .experience-badge {
    position: absolute;
    text-transform: uppercase;
    top: 4.5rem;
    left: 2rem;
  
    span {
      @include medium-text;
    }
  
    .years {
      @include big-text;
      @include big-font;
  
      margin: 0;
      line-height: 1;
    }
  }
}