.Header {
  background-image: url(../assets/background.jpg);
  background-position: 0;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;

  --banner-colour-values: var(--dark-colour-values);
  --nav-hover-colour-values: 240, 240, 240;
}

.Header-content {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.Header-experience-badge {
  position: absolute;
  text-transform: uppercase;
  top: 1.3rem;
  left: 1.2rem
}

.Header-experience-years {
  margin: 0;
  line-height: 0.8;
}

.Header-intro-banner {
  flex: 1;
}

.Header-intro-banner p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.Header-intro-banner h1 {
  background-image: -webkit-linear-gradient(left,
      rgba(var(--banner-colour-values), 0.15) 0%,
      rgba(var(--banner-colour-values), 0.25) 20%,
      rgba(var(--banner-colour-values), 1.00) 50%,
      rgba(var(--banner-colour-values), 0.25) 80%,
      rgba(var(--banner-colour-values), 0.15) 100%);

  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.Header nav {
  display: flex;
  justify-content: center;
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: rgb(var(--dark-colour-values));
}

.Header nav a {
  color: #eee;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

.Header nav a:hover {
  border-radius: 0.4em;
  background-image: -webkit-linear-gradient(45deg,
      rgba(var(--nav-hover-colour-values), 0.2),
      rgba(var(--nav-hover-colour-values), 0.05));
}

.Header nav a:not(:last-child) {
  margin-right: 0.2rem;
}