.Proficiency {
  width: 220px;
  background-color: rgb(var(--dark-colour-values));
  color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  font-size: 1rem;
}

.Proficiency p b {
  font-family: 'Raleway';
}

.Proficiency * {
  margin-top: 0;
  color: white;
  text-align: center;
}

.Proficiency img {
  display: block;
  margin: 10px auto;
  width: 64px;
}

.Proficiencies-content {
  margin-bottom: var(--App-section-boundary-size);
}

.Proficiencies-display {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}