.Proficiency {
  width: 220px;
  background-color: rgb(var(--dark-colour-values));
  color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  font-size: 1rem;
}

.Proficiency p b {
  font-family: 'Raleway';
}

.Proficiency * {
  margin-top: 0;
  color: white;
  text-align: center;
}

.Proficiency img {
  display: block;
  margin: 10px auto;
  width: 64px;
}

.Proficiencies-display {
  width: fit-content;
  margin: auto;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

@media (max-width: 600px) {
  .Proficiencies-display {
    grid-template-columns: auto;
  }
}

@media (min-width: calc(500px + 10rem)) and (max-width: 1000px) {
  .Proficiencies-display {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1000px) {
  .Proficiencies-display {
    grid-template-columns: auto auto auto;
  }
}