@import '../partials/variables';
@import '../partials/mixins';

.Proficiencies {
  margin-bottom: var(--App-section-boundary-size);

  .frameworks,
  .languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
  }

  .text-content {
    @include text-content;
  }
}

@mixin card {
  width: 300px;
  border-radius: 0.3rem;
  overflow: hidden;

  .text {
    background-color: $darkColour;
    color: $fontCardColour;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;

    b {
      @include big-font;
    }
  }
}

.Framework-card {
  @include card;
  width: 200px;

  .picture {
    height: 150px;
    background-color: $accentColour;
  }

  .text {
    padding: 1rem;

    .level {
      font-size: 0.8rem;
    }
  }
}

.Language-card {
  @include card;
  
  .picture {
    height: 250px;
    background-color: $accentColour;
  }
}