.Proficiency-card {
  width: 300px;
  border-radius: 0.3rem;
  overflow: hidden;
} 

.Proficiency-card .picture {
  width: 100%;
  height: 250px;
  background-color: aquamarine;
}

.Proficiency-card .text {
  background-color: rgb(var(--dark-colour-values));
  color: white;
  padding: 2rem;
  font-size: 1rem;
  text-align: center;
}

.Proficiency-card .text p b {
  font-family: 'Raleway';
}

.Proficiency-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
}

.Proficiencies-content {
  margin-bottom: var(--App-section-boundary-size);
}